table {
    width: 100%;
    text-align: left;
    padding-left: inherit;
    margin-top: 10%;
    /*padding-right: 10%;*/
}


.button-cont {
    position: fixed;
    bottom: 5%;
    width: 100%;
    border: none;
    background: white;
    color: black !important;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-left: -10%;
}

.button-cont:hover {
    color: #404040 !important;
    font-weight: 900 !important;
    letter-spacing: 3px;
    background: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.button-body {
    background: white;
    color: black !important;
    font-weight: 300;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border: solid;
}

.button-body:hover {
    color: #404040 !important;
    font-weight: 900 !important;
    letter-spacing: 3px;
    background: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

tr:hover {
    text-shadow: 0px 0px 20px lightgreen;
    box-shadow: 0px 0px 20px lightgreen;
}

.goods-header {
    color: white;
    font-family: "Yu Gothic UI Light";
    width: 100%;
    text-align: center;
    font-size: -webkit-xxx-large;
    text-shadow: 0px 0px 20px black;
}

.content-container{
    padding-left: 10%;
    padding-right: 10%;
}