html {
    height: 100%;
}

body {
    background: url(../images/hardware-store.jpg) no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-family: "Yu Gothic UI Light";
    width: 100%;
    text-align: center;
    font-size: -webkit-xxx-large;
    text-shadow: 0px 0px 20px black;
}

.button-shop {
    margin-top: 5%;
    border: none;
    background: white;
    color: black !important;
    font-weight: 300;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button-shop:hover {
    color: #404040 !important;
    font-weight: 900 !important;
    letter-spacing: 3px;
    background: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}